<!-- <!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.google.com/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>Use briefurl.live/&#60;yourshorturlcode&#62;</p>
    </footer>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Brief URL</title>
  <meta charset="UTF-8">
  <title>Search bar</title>
  <link
      rel="icon"
      type="image/png"
      href="https://i.postimg.cc/8CmG86KG/briefurlicon.png"
    />
  <link href="/public/style.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/9e69b114a1.js" crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>


</head>

<body>
  <div>
    <h1>Brief URL</h1>
    <h2>URL Shortner</h2>
  </div>

  <form id="urlform" action="shorturl" autocomplete="off" method="POST">
    <div class="search-box">
      <input class="search-txt" type="text" name="url" placeholder="https://">
      <a class="search-btn" onclick="document.getElementById('urlform').submit();">
        <i class="fa-solid fa-minimize"></i>
      </a>
    </div>
  </form>


  <div class="result">
    <h2>Use briefurl.live/&#60;yourshorturlcode&#62;</h2>
  </div>

</body>

</html>
